
<div class="list-container">
    <div></div>
    <div>
        <h1>Cards I'm borrowing</h1>
        <%if @my_trades[0] != nil%>
            <%@my_trades.each do |trade|%>
                <div class="card-trade <%=trade[:image_url]%> image-trigger">
                    <p class="card-name ">From: <%=trade[:user_name]%></p>
                    <p><%=trade[:card_name]%>(<%=trade[:edition]%>)</p>
                    <p>Quantity: <%=trade[:amount]%></p>
                    <p>Status: <%=trade[:status]%></p>
                    <%if trade[:status] == 'confirmed'%>
                        <form action="/trades" method="post">
                            <input type="hidden" name="_method" value="put">
                            <input type="hidden" name="trade_id" value="<%=trade[:trade_id]%>">
                            <input type="hidden" name="status" value="returned">
                            <button>cards returned</button>
                        </form>
                    <%end%>
                    <%if trade[:status] == 'requested'%>
                        <form action="/trades" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="trade_id" value="<%=trade[:trade_id]%>">
                            <button>cancel trade</button>
                        </form>
                    <%end%>
                </div>
            <%end%>        
        <%end%>

        <h1>Cards I'm lending out</h1>
        <%if @their_trades[0] != nil%>
            <%@their_trades.each do |trade|%>
                <div class="card-trade <%=trade[:image_url]%> image-trigger">
                    <p class="card-name">To: <%=trade[:user_name]%></p>
                    <p><%=trade[:card_name]%>(<%=trade[:edition]%>)</p>
                    <p>Quantity: <%=trade[:amount]%></p>
                    <p>Status: <%=trade[:status]%></p>
                    <%if trade[:status] == 'requested'%>
                    <div class="trade-buttons">
                        <form action="/trades" method="post">
                            <input type="hidden" name="_method" value="put">
                            <input type="hidden" name="trade_id" value="<%=trade[:trade_id]%>">
                            <input type="hidden" name="status" value="confirmed">
                            <button>trade confirmed</button>
                        </form>
                        <form action="/trades" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="trade_id" value="<%=trade[:trade_id]%>">
                            <button>cancel trade</button>
                        </form>
                    </div>
                    <%end%>
                    <%if trade[:status] == 'returned'%>
                        <form action="/trades" method="post">
                            <input type="hidden" name="_method" value="delete">
                            <input type="hidden" name="trade_id" value="<%=trade[:trade_id]%>">
                            <button>confirm cards returned</button>
                        </form>
                    <%end%>
                </div>
            <%end%>
        <%end%>
    </div>
    <img src="" alt="" class="cardimage">
    <div></div>
</div>
<script src="/js/imageHover.js"></script>